@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/*.roboto-mono-<uniquifier> {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}*/

:root {
  --background-light: #efefef;
  --button-crimson: #ce3939;
  --button-crimson-darker: #b83232;
  --text-white: #ffffff;
}

body {
  background-color: var(--background-light);
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

h1 {
  font-size: 80px;
  font-family: "Josefin Slab", system-ui;
  font-weight: 700;
}

@media (max-width: 480px) {
  h1 {
    font-size: 60px;
  }
}

h2 {
  font-size: 60px;
  font-family: "Josefin Slab", system-ui;
  font-weight: 700;
}

@media (max-width: 480px) {
  h2 {
    font-size: 40px;
    text-align: center;
  }
}

p {
  font-size: 30px;
}

@media (max-width: 480px) {
  p {
    font-size: 20px;
  }
}
