@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/*.roboto-mono-<uniquifier> {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}*/

:root {
  --background-light: #efefef;
  --button-crimson: #ce3939;
  --button-crimson-darker: #b83232;
  --text-white: #ffffff;
}

body {
  background-color: var(--background-light);
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

h1 {
  font-size: 80px;
  font-family: "Josefin Slab", system-ui;
  font-weight: 700;
}

h2 {
  font-size: 60px;
  font-family: "Josefin Slab", system-ui;
  font-weight: 700;
}

p {
  font-size: 30px;
}

.principal {
  width: 100%;
  height: 100vh;
  background-image: url("/practice/images/backgrounds/hero1.jpg");
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  height: 80px;
}

.logo {
  height: 100%;
}

.logo img {
  width: 100%; /* La imagen tomará el ancho completo del div */
  height: 100%; /* La imagen tomará el alto completo del div */
  object-fit: contain;
}

.navigator-links {
  display: flex;
}

.link {
  padding: 10px 30px 10px 30px;
  text-decoration: none;
}

.link:visited {
  color: inherit;
}

.link:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.container {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.header {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.header-empty {
  width: 50%;
  height: 100%;
}
.header-text {
  width: 50%;
  padding-top: 100px;
}

.header-description {
  font-size: 40px;
  padding-top: 20px;
}

.header-description-dinamic {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 30px;
}

.carrousel-container {
  width: 100%;
  overflow: hidden;
}

.carrousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrousel-img {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
}

.carrousel-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipes {
  display: flex;
  padding-bottom: 100px;
}

.recipes-script {
  width: 50%;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 150px;
}

.recipes-script p {
  padding: 40px 0 40px 0;
}

.recipes-type {
  width: 50%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-grid {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.recipe-types-container {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}

.recipe-types-container:hover {
  transform: scale(1.02);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.2s ease-in-out;
  opacity: 0;
}

.overlay:hover {
  opacity: 1;
}

.overlay1 {
  background: linear-gradient(
    to bottom,
    rgba(255, 60, 60, 0),
    rgba(255, 0, 0, 0.7)
  );
}

.overlay2 {
  background: linear-gradient(
    to bottom,
    rgba(255, 60, 60, 0),
    rgb(88, 82, 255)
  );
}

.overlay3 {
  background: linear-gradient(
    to bottom,
    rgba(255, 60, 60, 0),
    rgb(172, 167, 14)
  );
}

.overlay4 {
  background: linear-gradient(
    to bottom,
    rgba(255, 60, 60, 0),
    rgb(95, 252, 43)
  );
}

.recipe-types-container img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: inherit;
}

.custom-recipes {
  display: flex;
  padding-bottom: 150px;
}

.custom-recipe-flip {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-recipe-flip div {
  background-image: url("/practice/images/dishes/dish1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 400px;
  width: 400px;
}

.custom-recipe-script {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-recipe-script p {
  padding-top: 40px;
  padding-bottom: 40px;
}

.community {
  display: flex;
  padding-bottom: 150px;
}

.community-script {
  width: 50%;
  padding-left: 150px;
}

.community-script p {
  padding: 40px 0 40px 0;
}

.community-groups {
  width: 50%;
  background-color: aquamarine;
}

.members {
  background-color: aqua;
}

.footer {
  background-color: green;
}
