.principal {
  width: 100%;
  height: 100vh;
  background-image: url("/practice/images/backgrounds/hero1.jpg");
  background-size: cover;
}

@media (max-width: 480px) {
  .principal {
    background-image: none;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  height: 80px;
}

.nav-responsive {
  display: none;
}

@media (max-width: 480px) {
  .nav {
    display: none;
  }

  .nav-responsive {
    display: flex;
    height: 60px;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-responsive svg {
    width: 50px;
    margin-right: 10px;
  }
}

.logo {
  height: 100%;
}

.logo img {
  width: 100%; /* La imagen tomará el ancho completo del div */
  height: 100%; /* La imagen tomará el alto completo del div */
  object-fit: contain;
}

.navigator-links {
  display: flex;
}

.link {
  padding: 10px 30px 10px 30px;
  text-decoration: none;
}

.link:visited {
  color: inherit;
}

.link:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.container {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.header {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 480px) {
  .header {
    padding-top: 30px;
  }
}

.header-empty {
  width: 50%;
  height: 100%;
}

@media (max-width: 480px) {
  .header-empty {
    display: none;
  }
}

.header-text {
  width: 50%;
  padding-top: 100px;
}

@media (max-width: 480px) {
  .header-text {
    width: 80%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
  }
  .header-title {
    text-align: center;
    padding-bottom: 20px;
  }
}

.header__logo {
  display: none;
}

@media (max-width: 480px) {
  .header__logo {
    display: block;
  }
}

.header-description {
  font-size: 40px;
  padding-top: 20px;
}

.header-description-dinamic {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 30px;
}

@media (max-width: 480px) {
  .header-description {
    font-size: 30px;
    text-align: center;
  }

  .header-description-dinamic {
    text-align: center;
    font-size: 30px;
  }
}

.carrousel-container {
  width: 100%;
  overflow: hidden;
  padding-bottom: 80px;
}

@media (max-width: 480px) {
  .carrousel-container {
    display: none;
  }
}

.carrousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrousel-img {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
}

.carrousel-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.subsection--recipes-script {
  padding-left: 100px;
}

@media (max-width: 480px) {
  .subsection--recipes-script {
    width: 90%;
    padding: 20px 0;
  }
}

.subsection--recipes-script p {
  padding: 40px 0 40px 0;
}

.recipes-script p {
  padding: 40px 0 40px 0;
}

.recipes-type {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  .recipes-type {
    padding-top: 10px;
  }
}

.recipe-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.recipe-types-container {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}

@media (max-width: 480px) {
  .recipe-types-container {
    width: 120px;
    height: 120px;
  }
}

.recipe-types-container:hover {
  transform: scale(1.02);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.2s ease-in-out;
  opacity: 0;
}

.overlay:hover {
  opacity: 1;
}

.overlay1 {
  background: linear-gradient(
    to bottom,
    rgba(255, 60, 60, 0),
    rgba(255, 0, 0, 0.7)
  );
}

.overlay2 {
  background: linear-gradient(
    to bottom,
    rgba(255, 60, 60, 0),
    rgb(88, 82, 255)
  );
}

.overlay3 {
  background: linear-gradient(
    to bottom,
    rgba(255, 60, 60, 0),
    rgb(172, 167, 14)
  );
}

.overlay4 {
  background: linear-gradient(
    to bottom,
    rgba(255, 60, 60, 0),
    rgb(95, 252, 43)
  );
}

.recipe-types-container img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: inherit;
}

.custom-recipes {
  display: flex;
  padding-bottom: 150px;
}

.custom-recipe-flip {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-recipe-flip div {
  background-image: url("/practice/images/dishes/dish1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 400px;
  width: 400px;
}

.custom-recipe-script {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-recipe-script p {
  padding-top: 40px;
  padding-bottom: 40px;
}

.subsection--script {
  width: 50%;
  padding-left: 150px;
}

.subsection--script p {
  padding: 40px 0 40px 0;
}

.subsection--groups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section--members {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.section__title {
  padding-bottom: 50px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 100px;
  margin-top: 100px;
  background-color: var(--button-crimson);
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: white;
  font-size: 20px;
}
